.ten.columns.code {	
	.notice {
		color: orange; 
		fontSize: 12px; 
		margin: 0 0 15px 0;
	}

	li {
		list-style-type: disc;
		padding-left: 1em;
	}

	margin-left: 7em;
	& p, strong {
		padding-left: 0;
		margin-left: 0;
	}
	& u {
		margin-top: 2em;
	}
	.userCount {
		padding: 0;
		margin-top: 10px;
		margin-bottom: 0px;
	}
}