.container {
	/*background: red;*/
}
.parent {
	padding-top: 5em;
}
.parent__desc {
	color: grey;
}
.parent__name {
	margin-bottom: -15px;
}
.parent__link {
	padding-top: 10px;
}

.gallery {
	padding-top: 3em;
}