.page-wrap--heading {
	padding-top: .4em;
	padding-left: 4em;
}

.project-row {
	border: 1px dashed #f1f1f1;
	padding: 1.3em 0 1em 8.5em;
	margin-bottom: 0px;
	border-radius: 5px;
}

.titles {
	color: #1EAEDB;
}